# below packages are needed before we could run our example.
# https://unofficed.com/nse-python/documentation/
pandas      # used for all the operation like to get SMA for each stock.
nsepy       # pkg provided all nececery NSE data for our requiremnt.
datetime    # handle the time of execution in our program.
numpy       # used to manage numerical operation in the Program.
nsepython